:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.inputContainer {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 99%;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 340px;
  background-image: url(./design/pattern-bg.png);
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  align-items: center;
}
input {
  padding: 20px 25px;
  border: none;
  max-width: 400px;
  width: 300px;
  outline: none;
  border-radius: 20px;
}
button {
  margin-left: -50px;
  background-color: black !important;
  border: none;
  padding: 28px 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
h2 {
  color: #4a4949;
}
.infoContainer {
  z-index: 1000 !important;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 10px;
  bottom: 150px;
  font-size: 10px;
  margin: 0 auto;
  height: fit-content;
  padding: 20px 25px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  line-height: normal;
}
.infoContainer div {
  padding: 10px 15px;
}

.infoContainer div:nth-of-type(2) {
  border-left: 1px solid black;
}

.infoContainer div:nth-of-type(3) {
  border-left: 1px solid black;
}
button:hover {
  background-color: rgb(22, 22, 22) !important;
}
@media (max-width: 800px) {
  .infoContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 65%;
    gap: 10px;
    border-radius: 20px;
  }
  .infoContainer div {
    border-left: none !important ;
  }
  .infoContainer div:nth-of-type(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
